<header class="header ">
  <div class="container-large header__container">

    <button class="btn-reset burger-btn" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger-btn__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>

    <a class="logo header__logo">
      <img loading="lazy" src="../img/logo.svg" class="image" width="216" height="63" alt="Логотип Seg Way California">
    </a>

    <nav class="nav" title="Головне меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>Переваги</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Особливості</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Відео</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Аксесуари</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Придбати</a></li>
      </ul>
    </nav>

    <a class="header__phone phone" href="tel:+380100100100">
			<img class="phone__icon" src="../img/svg/phone-icon.svg" alt="Кнопка зателефонувати">
			<span class="phone__value">+38 0100 100 100</span>
		</a>

    <button class="btn-reset header__cart" data-graph-path="cart">
      <img src="../img/svg/cart-icon.svg" alt="">
    </button>

  </div>
</header>
