<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        SEGWAY Ninebot Kickscooter MAX
      </h1>
      <span class="hero__title-text">
        KickScooter MAX із запасом ходу до 40 миль, найбільшим радіусом дії на ринку та кутом підйому в гору 20 градусів дозволяє вам проїхати від затоки Сан-Франциско до Пало-Альто на одній зарядці.
      </span>
      <a href="#link3" class="hero__link btn-reset btn">Замовити тест-драйв</a>
      <a href="#link3" class="hero__link btn-reset btn">Придбати зараз</a>
    </div>
    <div class="hero__img">
      <picture>
        <source srcset="img/hero-img.webp" type="image/webp">
        <img loading="lazy" src="img/hero-img.png" class="image" width="432" height="687" alt="Зображення SEGWAY Ninebot Kickscooter MAX">
      </picture>
    </div>
  </div>
</section>